{% extends 'includes/base.html' %}

{% block content %}
{% include 'includes/header.html' %}

<div class="container">
    <h1 class="display-2 fw-bold mt-4 mb-2 text-break">Курс: {{ course.title }}</h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'course_overview' %}">Все курсы</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
        </ol>
    </nav>

    <div class="card mt-5 mb-3 bg-dark-custom text-white">
        <div class="card-body">
            <div style="font-size: 110%;">{{ course.introduction|safe }}</div>
        </div>
    </div>
    <p><a class="btn btn-custom fw-bold" href="#">Начать прохождение</a></p>

    <section class="my-4">
        <p class="mb-0">Tags:</p>
        <p class="lead">
            {% for tag in course.tags.all %}
            <span
                class="badge rounded-pill bg-dark"
                style="border: 2px solid {{ tag.background_color }};"
            >{{ tag.name }}</span>
            {% endfor %}
        </p>
    </section>

    {% if lessons %}
    <h2 class="h1">Содержание курса</h2>
    <ul>
        {% for lesson in lessons %}
        <li>{{ lesson.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
