{% extends 'includes/base.html' %}

{% block content %}
{% include 'includes/header.html' %}

<div class="container">
    <h1 class="display-2 fw-bold my-4">Выберите свой курс</h1>
    <div class="row">
        {% for course in courses %}
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <a href="{% url 'course_introduction' pk=course.id %}" class="text-decoration-none">
                <div class="card mt-2 mb-3 bg-dark-custom text-white w-100">
                    <div class="card-body w-100">
                        <h2 class="h3 fw-semibold">{{ course.title }}</h2>
                        <p class="lead mb-1">{{ course.lead }}</p>
                        <p class="lead">
                            {% for tag in course.tags.all %}
                            <span
                                class="badge rounded-pill"
                                style="background-color: {{ tag.background_color }}; color: {{ tag.text_color }}"
                            >{{ tag.name }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
