{% extends 'includes/base.html' %}

{% block content %}
{% include 'includes/header.html' %}

<div class="container">
    <h1 class="display-2 fw-bold mt-4 mb-2 text-break task-difficulty-{{ task.difficulty }}">
        {{ task.title }}
    </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'course_introduction' pk=task.lesson.course.id %}">
                    {{ task.lesson.course.title }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'course_lesson' pk=task.lesson.course.id %}">{{ task.lesson.title }}</a>
            </li>
            <li class="breadcrumb-item active mb-3 task-difficulty-{{ task.difficulty }}" aria-current="page">
                {{ task.title }}
            </li>
        </ol>
    </nav>

    <div class="card mt-4 mb-3 bg-dark-custom text-white">
        <div class="card-body">
            <table class="table table-bordered table-dark">
                <tr>
                    <th scope="row">Ограничение времени</td>
                    <td>{{ task.time_limit }} (секунд)</td>
                </tr>
                <tr>
                    <th scope="row">Ограничение памяти</td>
                    <td>{{ task.memory_limit }} (Mb)</td>
                </tr>
                <tr>
                    <th scope="row">Ввод</td>
                    <td>{{ task.input_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Вывод</td>
                    <td>{{ task.output_type }}</td>
                </tr>
            </table>

            <div style="font-size: 110%;" class="mt-4">{{ task.text|safe }}</div>

            {% if task.input_format %}
            <h2 class="mt-4">Формат ввода</h2>
            {{ task.input_format.strip|linebreaks }}
            {% endif %}

            {% if task.output_format %}
            <h2 class="mt-4">Формат вывода</h2>
            {{ task.output_format.strip|linebreaks }}
            {% endif %}

            {% if examples %}
            <h2 class="mt-4">Примеры</h2>
            <table class="table table-bordered table-dark">
                <tr>
                    <th scope="col">Ввод</th>
                    <th scope="col">Вывод</th>
                </tr>
                {% for example in examples %}
                <tr>
                    <td>{{ example.input_data.strip|linebreaks }}</td>
                    <td>{{ example.output_data.strip|linebreaks }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if task.solution %}
            <div class="accordion accordion-flush bg-dark-custom" id="accordionFlushExample">
                <div class="accordion-item bg-dark-custom">
                    <h2 class="accordion-header bg-dark-custom" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-dark-custom text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Решение автора
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {{ task.solution|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
