<div class="col-12 col-md-6 col-lg-6 col-xl-4 pt-2 pb-3">
    <a href="{% url 'course_introduction' pk=course.id %}" class="text-decoration-none">
        <div class="card bg-dark-custom text-white w-100 shadow-sm h-100">
            <div class="card-body w-100 d-flex justify-content-between flex-column">
                <div>
                    <h2 class="h3 fw-semibold">{{ course.title }}</h2>
                    <p class="lead mb-1">{{ course.lead }}</p>
                </div>
                <p class="lead mb-0">
                    {% for tag in course.tags.all %}
                    <span
                        class="badge rounded-pill"
                        style="background-color: {{ tag.background_color }}"
                    >{{ tag.name }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </a>
</div>
