<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'homepage' %}" class="nav-link px-2 text-white">Python-хэндбук</a></li>
            </ul>

            <!-- <form class="col-12 col-md-auto mb-3 mb-md-0 me-md-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Найти..."
                    aria-label="Search">
            </form> -->

            <!-- <a class="btn btn-outline-custom me-2" href="/admin/">Войти</a> -->
        </div>
    </div>
</header>