{% url 'login' as login_url %}
{% url 'profile' as profile_url %}
{% url 'registration' as registration_url %}

<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <ul class="nav col-auto me-auto justify-content-center mb-md-0">
                <li><a href="{% url 'homepage' %}" class="nav-link px-2 text-white" style="font-size: larger;">Python-хэндбук</a></li>
            </ul>
            {% if request.path != login_url and request.path != registration_url %}
                {% if request.user.is_authenticated %}
                <a class="btn btn{% if request.path != profile_url %}-outline{% endif %}-custom me-2"
                    href="{% if request.path == profile_url %}{% url 'course_overview' %}{% else %}{% url 'profile' %}{% endif %}">
                    Профиль
                </a>
                {% else %}
                <a class="btn btn-outline-custom me-2" href="{% url 'login' %}">Войти</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</header>