body {
    --custom: #E94F37;
    --custom-dark: #393E41;
}
img {
    max-width: 100% !important;
    height: auto;
    border-radius: 0.2em !important;
}

pre {
    border-radius: 0.2em !important;
}

.task-difficulty-1::after {content: ' · Базовый уровень'}
.task-difficulty-2::after {content: ' · Продвинутый уровень'}
.task-difficulty-3::after {content: ' · Дополнительные задачи'}
.task-difficulty-before-1::before {content: 'Базовый уровень · '}
.task-difficulty-before-2::before {content: 'Продвинутый уровень · '}
.task-difficulty-before-3::before {content: 'Дополнительные задачи · '}

.course-containment a {
    color: #fff !important;
    text-decoration: none !important;
}
.course-containment a:hover {
    color: var(--custom) !important;
}
.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--custom);
    --bs-btn-border-color: var(--custom);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--custom);
    --bs-btn-hover-border-color: var(--custom);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--custom);
    --bs-btn-active-border-color: var(--custom);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--custom);
    --bs-btn-disabled-border-color: var(--custom);
}
.breadcrumb a, a.link-custom {
    color: var(--custom) !important;
    text-decoration: none !important;
}
.breadcrumb a:hover, a.link-custom:hover {
    color: var(--custom) !important;
    text-decoration: underline !important;
}
.text-secondary-custom {
    color: #c0c0c0;
}
.text-custom {
    color: var(--custom) !important;
}
.border-custom {
    border-color: var(--custom) !important;
}
.btn-outline-custom {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #f8f9fa;
    --bs-btn-hover-bg: var(--custom);
    --bs-btn-hover-border-color: var(--custom);
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--custom);
    --bs-btn-active-border-color: var(--custom);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--custom);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--custom);
    --bs-gradient: none;
}
.bg-dark {
    background-color: #141414 !important;
}
.bg-dark-custom {
    background-color: #232323 !important;
}
.table-dark td, .table-dark table, .table-dark th, .table-dark tr {
    background-color: #232323 !important;
}
table p {margin: 0;}
.bg-secondary-custom {
    background-color: #303030 !important;
}
.bg-dark-custom-old {
    --bs-bg-opacity: 1;
    background: var(--custom-dark) !important;
    color: #ffffff96;
}
.bg-custom {
    background-color: var(--custom);
    color: #fff;
}
.btn-group-xl>.btn, .btn-xl {
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-border-radius: 0.8rem;
}
.blink {animation: blink 1000ms alternate infinite}
@keyframes blink {
    0% {opacity: 1}
    50.5999% {opacity: 1}
    50.6% {opacity: 0}
    100% {opacity: 0}
}
