{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column" style="min-height: 100vh;">
    {% include 'includes/header.html' %}
    
    <div class="container d-flex flex-column justify-content-center" style="flex-grow: 1;">
        <div class="container col-lg-5 col-sm-8 bg-dark-custom card">
            <div class="card-body py-4 text-white">
                <h1 class="display-5 fw-bold my-0">@{{ user.username }}</h1>
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}

                    <div class="mt-3">
                        <label for="id_first_name" class="form-label">Имя</label>
                        <input type="text" class="form-control" id="id_first_name" value="{{ user.first_name }}" name="first_name">
                    </div>

                    <div class="mt-3">
                        <label for="id_last_name" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="id_last_name" value="{{ user.last_name }}" name="last_name">
                    </div>
    
                    <div class="mt-2">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="id_email" value="{{ user.email }}" name="email">
                        <div id="emailHelp" class="form-text">Необходим для восстановления пароля и личных рассылок</div>
                    </div>

                    <button type="submit" class="btn btn-outline-custom mt-3">Сохранить</button>
                </form>

                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="btn btn-outline-custom mt-3 me-1">Панель администрирования</a>
                {% endif %}

                <a href="{% url 'logout' %}" class="btn btn-custom mt-3">Выйти из аккаунта</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
