{% extends 'includes/base.html' %}

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}">
<style>
    #fullpage > .section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
{% endblock head_extra %}

{% block content %}
<div id="fullpage">
    <div class="section text-secondary-custom">
        <div class="px-4 text-center">
            <h1 class="display-2 fw-bold text-white">Python-хэндбук</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-3">
                    Бесплатный онлайн-учебник по Python.<br>
                    Позволит овладеть базовым синтаксисом языка программирования.
                    Объяснит принципы разработки ПО.
                </p>
                <p class="mb-2">
                    <button onclick="fullpage_api.moveSectionDown();" class="btn btn-lg btn-custom my-1">
                        Узнать подробнее
                    </button>
                    <a href="{% url 'course_overview' %}" class="btn btn-lg btn-outline-light my-1">
                        Начать учиться
                    </a>
                </p>
            </div>
            <p class="display-6 mx-0 my-0" onclick="fullpage_api.moveSectionDown();">
                <i class="bi bi-chevron-compact-down"></i>
            </p>
        </div>
    </div>
    
    <div class="section bg-custom">
        <div class="container text-center">
            <h2 class="display-2 fw-bold mb-4">Научим</h1>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <p class="display-1"><i class="bi bi-filetype-py"></i></p>
                    <p class="lead">Основным конструкциям языка программирования</p>
                </div>
                <div class="col-sm-4 col-12">
                    <p class="display-1"><i class="bi bi-gear"></i></p>
                    <p class="lead">Проектировать логику собственных приложений</p>
                </div>
                <div class="col-sm-4 col-12">
                    <p class="display-1"><i class="bi bi-folder-plus"></i></p>
                    <p class="lead">Использовать стандартный набор библиотек, сторонние фреймворки</p>
                </div>
            </div>
            <p class="display-6 mx-0 my-0" onclick="fullpage_api.moveSectionDown();">
                <i class="bi bi-chevron-compact-down"></i>
            </p>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <h2 class="display-2 fw-bold mb-3 text-break">Интересно?</h2>
            <p><a href="{% url 'course_overview' %}" class="btn btn-custom btn-xl">Начать учиться</a></p>
            <p class="display-6 mx-0 my-0" onclick="fullpage_api.moveSectionDown();">
                <i class="bi bi-chevron-compact-down"></i>
            </p>
        </div>
    </div>

    <div class="section bg-black">
        <div class="container">
<pre>
<code><span style="color: #0f0;">learn@python</span> <span style="color: #0d6efd;">~ $</span> about</code>
<a href="{% url 'course_overview' %}" class="text-decoration-none text-white"><code>     _             _       <span class="d-more-767">              _   _                 </span></code>
<code>    | |           | |      <span class="d-more-767">             | | | |                </span></code>
<code> ___| |_ _   _  __| |_   _ <span class="d-more-767">  _ __  _   _| |_| |__   ___  _ __  </span></code>
<code>/ __| __| | | |/ _` | | | |<span class="d-more-767"> | '_ \| | | | __| '_ \ / _ \| '_ \ </span></code>
<code>\__ \ |_| |_| | (_| | |_| |<span class="d-more-767"> | |_) | |_| | |_| | | | (_) | | | |</span></code>
<code>|___/\__|\__,_|\__,_|\__, |<span class="d-more-767"> | .__/ \__, |\__|_| |_|\___/|_| |_|</span></code>
<code>                      __/ |<span class="d-more-767"> | |     __/ |                      </span></code>
<code>                     |___/ <span class="d-more-767"> |_|    |___/                       </span></code>
</a>
<code>?&gt; Developed with &lt;3 by <a href="//github.com/mikemka/" target="_blank" class="text-decoration-none">@mikemka</a></code>
<code>?&gt; Our GitHub         <a href="//github.com/mikemka/learn_python" target="_blank" class="text-decoration-none">repository</a></code>
<code>?&gt; We're using       <a href="//alvarotrigo.com/fullPage/" target="_blank" class="text-decoration-none">fullPage.js</a></code>
<code>?&gt; WYSIWYG editor        <a href="//www.tiny.cloud/" target="_blank" class="text-decoration-none">TinyMCE</a></code>
<code>?&gt; Syntax Highlight     <a href="//prismjs.com" target="_blank" class="text-decoration-none">Prism.js</a></code>
<code>?&gt; Icons made by        <a href="https://www.flaticon.com/free-icons/coding-book" title="coding book icons" target="_blank" class="text-decoration-none">Flaticon</a></code>
<code><span style="color: #0f0;">learn@python</span> <span style="color: #0d6efd;">~ $</span><span style="font-size: 130%;"></span> <span class="blink">▂</span></code>
</pre>
        </div>
    </div>
</div>

<script src="{% static 'js/fullpage.min.js' %}"></script>
<script>
    new fullpage(
        '#fullpage',
        {
            credits: {label: 'fullPage.js'},
            licenseKey: 'gplv3-license'
        }
    );
</script>
{% endblock content %}